<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div style="text-align: center;"><h1>Admin Panel</h1></div>
    <div style="text-align: center;">
        <table class="table center" border="1" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Role</th>
                <th>First name</th>
                <th>Second name</th>
                <th>Gender</th>
                <th>Birthday date</th>
                <th>Edit user</th>
                <th>Delete user</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">...</td>
                <td th:text="${user.getLogin()}">...</td>
                <td th:text="${user.getRole()}">...</td>
                <td th:text="${user.getFirstName()}">...</td>
                <td th:text="${user.getSecondName()}">...</td>
                <td th:text="${user.getGender()}">...</td>
                <td th:text="${user.getBirthdayDate()}">...</td>
                <td>
                    <form th:method="GET" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">
                        <input type="submit" value="Change" class="btn btn-secondary"/>
                    </form>
                </td>
                <td>
                    <form th:method="POST" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                        <input type="submit" value="Delete" class="btn btn-secondary"/>
                    </form>
                </td>
            </tr>
        </table>
        <a href="" th:href="@{/menu/}" class="btn btn-primary"><- Return to main menu</a>
    </div>
</div>
</body>
</html>
